<head>
    <title>Sweet Nothings</title>

</head>
<header>
<body id="page-top">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button">Search</button>
            </span>
            </div>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Chill out</h1>
                <hr>
                <p>Check 'em out, they're free</p>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Sort
                        <span class="caret"></span>
                    </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="/sweet_nothings?sort_by=description">Sort by Author</a></li>
                            <li><a href="/sweet_nothings?sort_by=id">Sort by date</a></li>
                            <li><a href="/sweet_nothings/random">Random Sweet Nothing</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/sweet_nothings/new">Add a new sweet nothing</a></li>
                        </ul>
                    </div>
            </div>
        </div>
    </header>

<!-- description doubled, with one being a link.  link doesn't take you to show -->

<% @sweet_nothings.each do |sweet_nothing| %>
<section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/3.jpg" class="portfolio-box">
                    <a href="/sweet_nothings/<%= sweet_nothing.id%>" > 
                        <img src="<%= sweet_nothing.image %>" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    <%= sweet_nothing.name %>
                                </div>
                                <div class="project-name">
                                    <%= sweet_nothing.description %>
                                </div>
                            </div>
                        </div>
                     </a>
                    </div>  
                </div>
            </div>
        <% end %>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Now go have a better day</h2>
            </div>
        </div>
    </aside>
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/creative.min.js"></script>

</body>

</html>




