####change this to using current CSS with Bootstrap div containers.




<%= form_tag "/sweet_nothings", method: :post do %>
  <div class="container">
    <div class="head">
      <h2>Say Hello</h2>
    </div>
      <input type="text" name="form_name" placeholder="Name" /><br />
      <input  type="text" name="form_image" placeholder="The prettiest of pictures" /><br />
      <textarea type="text" name="form_description" placeholder="Whatcha wanna say?"></textarea><br />
    <div class="message">Message Sent</div>
    <button id="submit" type="submit">
      ....so, say it already!
    </button>
  </div>
  <% end %>